name: Tockloader Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        pip install pipx
        pipx install build
        pyproject-build
        pipx install .
    - name: Run basic commands
      run: |
        tockloader --version
        tockloader list-known-boards

  nix-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Build without unfree packages
      run: nix-build --arg withUnfreePkgs false

    - name: Run basic Tockloader commands
      run: |
        ./result/bin/tockloader --version
        ./result/bin/tockloader list-known-boards

    - name: Enable unfree packages in default.nix
      run: |
        mkdir -p $HOME/.config/nixpkgs/
        cat >$HOME/.config/nixpkgs/config.nix <<EOF
        {
          allowUnfree = true;
          segger-jlink.acceptLicense = true;
        }
        EOF

    - name: Build with unfree packages
      run: nix-build --arg withUnfreePkgs true

    - name: Run basic Tockloader commands
      run: |
        ./result/bin/tockloader --version
        ./result/bin/tockloader list-known-boards
